* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post-card {
  padding: 1rem;
}

.post-card figure {
  border-radius: 5px;
  overflow: hidden;
}

.post-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.post-card p {
  padding: 1rem 0;
}